@using E_Commerce.Models.DbModels
@{
    ViewBag.Title = "Customer Details";
}
@model Customer


<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<div class="center-body">
<div class="glowy-card">
    <center><h2>@Model.FullName</h2></center>
<hr />
    <dl class="dl-horizontal">
        <p>
         @Model.Email
        <br>
        @Model.Phone
        </p>        
        <dt>
            Country
        </dt>
        <dd>
            @Model.Country
        </dd>
        <dt>
            Default Shipping Address
        </dt>
        <dd>
            @Model.DefaultShippingAddress
        </dd>
        <dt>
            Billing Address
        </dt>
        <dd>
            @Model.BillingAddress
        </dd>
    </dl>
</div>
</div>
<center>
    <a asp-action="EditForm" asp-controller="Customer" asp-route-id=@Model.Id>
        <button class="my-button" role="button" style="display: inline; background: #028875"> <span class="text">Edit</span></button>
    </a>
    <a asp-action="Delete" asp-controller="Customer" asp-route-id=@Model.Id>
        <button class="my-button" role="button" style="display: inline; background: #E53935"> <span class="text">Delete</span></button>
    </a>
</center>
<p>
    @Html.ActionLink("Back to List", "GetAll")
</p>